<mat-toolbar color="primary">
  
  <span>Expense Tracker Application</span>
  <span class="example-spacer"></span>
  <!-- <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon>favorite</mat-icon>
  </button>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon>share</mat-icon>
  </button> -->
  
</mat-toolbar>
<mat-tab-group (selectedTabChange)="onTabChange($event)">
  <mat-tab label="Expenses"></mat-tab>
  <mat-tab label="Users"></mat-tab>
  <mat-tab label="Exchange Rates"></mat-tab>
</mat-tab-group>

<router-outlet></router-outlet>
